#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.texto h1 {
  height: 110px;
  width: 350px;
  border: 1px solid #ffff;
  background-color:#454b4cdd;
  border-radius: 1%;
  font-size: 28px;
  padding: 25px;
}

h2 {
  top: 65%;
  padding: 0px;
  font-weight: bold;
  font-size: 30px;
  height: 350px;
  position: absolute;
  color: #090909d8;
}
#titlecarousel{
  font-size: 30px;
  padding: 0px;
  left: 50%;
  transform: translate(-50%);
}
h4 {
  top: 0%;
  padding: 0px;
  font-weight: bold;
  height: 300px;
  position: relative;
  color: #090909d8;
}
.servico {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.about{
  top: 205%;
  width: 80vw;
  position: absolute;
  left: 15%;
  
}
.carousel{
  margin-top: 0;
  position: relative;
}
.carousel p {
  width: 300px;
  font-size: 40px;
  padding: 20px; 
  border: 2px solid #ccc; 
  background-color: #454b4c78;
  border-radius: 1%; 
}
.advogados{
  display: flex;
  top: 130%;
  left: 50%;
  transform: translate(-50%);
}
.container{
  height: 550px;
  top: 25%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  color: #FFF;
  padding: 10px;
}

.title{
  margin-bottom: 14px;
}

.form{
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input{
  margin-bottom: 14px;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
}

.textarea{
  margin-bottom: 14px;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize: none;
}

.button{
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  color: #121212;
  background-color: #ffffff;
  font-size: 18px;
  transition: background-color, transform 0.8s;
}

.button:hover{
  background-color: #454b4c;
  transform: scale(1.01);
}
.map{
  position: relative;
  top: 25%;
}

#logo{
  position: absolute;
}
#background {
  width: 100vw;
  height: 600px;
  position: relative;
}
@media (max-width: 720px) {
  .logo{
    position: absolute;
    left: 0;
    top: 0;
  }
  .oab{
    position: absolute;
    top: 5%;
    left: 75%;
  }
  .initial{
    position: absolute;
    top: 77%;
    left: 0;
  }
  h2{
    top: 55%;
  }
  .advogados{
    top: 115%;
    flex-direction: column;
  }
  .about{
    top: 250%;
  }
  #titlecarousel{
    width: 400px;
    z-index: 2;
    top: 322% !important;
  }
  .about-card{
    width: 298px;
  }
  .card-row{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  .map{
    top: 34%;
  }
  .container{
    top: 34%;
  }

  .cr{
    position: absolute;
    top: 22% !important;
  }
}
@media (max-width: 400px) {
  .oab{
    left: 65%;
  }
  .oab img{
    width: 120px !important;
    height: 50px !important;
  }
 
  .texto h1{
    margin: 10px;
    width: 200px;
    padding: 5px;
  }
  #titlecarousel{
    top: 374% !important;
    width: 350px;
  }
  .advogados{
    top: 122%;
  }
  .about{
    left: 17%;
    top: 275%;
  }
  .about-card{
    margin-bottom: 30px;
    width: 250px;
  }
  .container{
    top: 40%;
  }
  .map{
    top: 40%;
  }

  .cr{
    top: 28% !important;
  }
}