#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  top: 65%;
  padding: 0px;
  font-weight: bold;
  font-size: 30px;
  height: 350px;
  position: absolute;
  color: #090909d8;
}


h4 {
  top: 0%;
  padding: 0px;
  font-weight: bold;
  height: 300px;
  position: relative;
  color: #090909d8;
}
.servico {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.about{
  top: 205%;
  width: 80vw;
  position: absolute;
  left: 15%;
  
}


.carousel p {
  width: 320px;
  height: 400px;
  font-size: 20px;
  padding: 70px; 
  border: none; 
  background-color: #ffffff75;
  border-radius: 1%;
  color: #121212; 
}
.advogados{
  display: flex;
  top: 130%;
  left: 50%;
  transform: translate(-50%);
}

.container{
  height: 550px;
  top: 7%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  color: #FFF;
  padding: 10px;
}

.title{
  margin-bottom: 14px;
}

.form{
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input{
  margin-bottom: 14px;
  height: 34px;
  border-radius: 4px;
  border: 0;
  padding: 0 8px;
}

.textarea{
  margin-bottom: 14px;
  border-radius: 4px;
  border: 0;
  padding: 8px;
  height: 94px;
  resize: none;
}

.button{
  height: 34px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  color: #121212;
  background-color: #ffffff;
  font-size: 18px;
  transition: background-color, transform 0.8s;
}

.button:hover{
  background-color: #454b4c;
  transform: scale(1.01);
}
.map{
  margin: 0;
  position: relative;
  top: 7%;
}

#logo{
  position: absolute;
}

@media (max-width: 720px) {
  #background{
    width: auto !important;
    height: 650px !important;
  }
  .logo{
    position: absolute;
    left: 0;
    top: 0;
  }
  .oab{
    position: absolute;
    top: 5%;
    left: 75%;
  }
 
  h2{
    top: 40% !important;
  }
  .advogados{
    top: 100% !important;
    flex-direction: column;
  }
  .about{
    top: 220% !important;
  }  
  .about-card{
    width: 298px;
  }
  .card-row{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  .exposicao{
    top: 30.5% !important;
  }
  .map{
    top: 30% !important;
  }
  .container{
    top: 30% !important;
  }

}
@media (max-width: 400px) {
  .oab{
    left: 65%;
  }
  h2{
    top: 70% !important;
  }
  .oab img{
    width: 120px !important;
    height: 50px !important;
  }

  .advogados{
    top: 130% !important;
  }
  .about{
    left: 17%;
    top: 280% !important;
  }
  .about-card{
    margin-bottom: 30px;
    width: 250px;
  }
 
  .container{
    top: 42%;
  }
  .cr{
    top: 42%;
  }
  .map{
    top: 40%;
  }
  .cr{
    top: 25% !important;
  }
}